# Dependencies
node_modules/

# Environment
.env
.dev.vars

# Cloudflare
.wrangler/
.cloudflare/

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# System Files
.DS_Store
Thumbs.db

!worker-version.txt
